@charset "utf-8";
/* CSS Document */
/*-----------create by wutianzhi data 2009-11-04----------------*/


/*-------------------wrapper start !--------------------------------------*/
 #wrapper {
	width: 830px;
	margin:0 auto;
	border:2px solid #eee;
	border-width:0 1px;
	
}
/*-------------------head start !--------------------------------------*/
/*-------------------content start !--------------------------------------*/
#content{ padding:32px 32px 43px 35px; background:#fff;}
h2{ font-size:20px; color:#006699; text-align:center;}
hr{ padding-top:15px; border:1px solid  #F0F0F0; width:760px;}
#text{ padding-bottom:50px;  padding-top:15px; line-height:180%; font-size:13px;}
#date{ text-align:right; color:#666666;}
#print{ text-align:right; font-size:14px; color:#666;}
/*-------------------footer start !--------------------------------------*/
#footer{ height:70px; background:url(../images/footer.png) repeat-x; }
#footer #copyrights{ padding-top:22px; text-align: center;}
#footer p{ text-align:center; padding-top:5px;}