extends ./layout

block content
 form(method="post",action="/admin/cate/edit/#{category._id}")
   table#xinwentianjia(summary='分类编辑')
    caption
      | 新闻编辑
    tbody
      tr
        td.mytd(align='center', valign='middle')
          label(for='newpasswords') 分类：
        td
          input(type='text', name="category[name]",value=category.name)
      tr
        td  
        td
          label
            input#sure(type='submit', name='sure', value='确认')
          label
            input#reset(type='reset', name='reset', value='重填')
