#header
    img(src='/images/admin/banner.gif', title='banner', alt='banner')
  #welcome
    b(style='color:red;')= USER.name 
    | 欢迎登录！今天是
    |   2016-08-31 10:48:25     
    label#tiqu
      a(href='/admin/users/logout')  安全退出