dl#nav_sub
        dt
          a(href='#', title='两办概况') 两办概况
        dd
          a(href='add_glsz.php', title='资料添加') 岗位设置添加
        dd
          a(href='edit_glsz.php', title='资料编辑') 岗位设置编辑
        dd
          a(href='add_worker.php', title='资料添加') 工作人员添加
        dd
          a(href='edit_worker.php', title='资料编辑') 工作人员编辑
        dt
          a(href='#', title='新闻管理') 分类
        dd
          a(href='/admin/cate/add') 添加分类
        dd
          a(href='/admin/cate/list') 编辑分类
        dt
          a(href='#', title='新闻管理') 新闻动态
        dd
          a(href='/admin/post/add', title='新闻添加') 新闻添加
        dd
          a(href='/admin/post/list', title='新闻编辑') 新闻编辑
        dt
          a(href='Management.php', title='文件下载') 文件下载
        dd
          a(href='upload.php', title='文件上传') 文件上传
        dt
          a(href='#', title='用户管理') 用户管理
        dd
          a(href='xgpasswords.php', title='修改密码') 修改密码