extends ../layout

block content
  h1 注册
  form(name="user", method="post",action="/admin/users/signup")
      p
        label 用户名:
        input(type="text",name="user[name]")
      p
        label 密码:
        input(type="password",name="user[password]")
      p
        label &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        input(type="submit")