#warpper {
	width:1000px;
	margin:0 auto;
}
/**header开始**/
#header {
	border-bottom:3px solid #ccc;
}
#welcome {
	height:35px;
	border:1px solid #ccc;
	line-height:35px;
	text-indent:100px;
	background:#f1f1f1 
}
#welcome #tiqu {
	color:red;
	font-weight:bold;
}
/**content开始**/
#content {
	background:#fff;
	border:1px solid #ccc;
}
#content #left {
	float:left;
	width:200px;
}
#left #nav_sub dt {
	background:#dff4f9 url(../images/arrow_01.gif) no-repeat 20px 13px;
	height:30px;
	line-height:30px;
	display:block;
	padding-left:30px;
	border-bottom:1px solid #dfdfdf;
}
#left #nav_sub dd {
	background:#f6f6f6 url(../images/arrow_02.gif) no-repeat 40px 16px;
	border-bottom:1px solid #dfdfdf;
	position:relative;
}

#left #nav_sub dd a {
	height:30px;
	line-height:30px;
	display:block;
	padding-left:50px;
	color:#000066;
}
#left #nav_sub dd a:hover {
	background: #0099CC;
	color: #fff;
	text-decoration:underline;
}
#nav_sub .dt a{
	padding-left:30px;
	
}
#nav_sub .dt a:hover{
	background:none;
}
#nav_sub .dt ul a{
	background:none;
	padding:0 10px;
}
#nav_sub dd ul {
	display:none;
	position:absolute;
	bottom:8px;
	left:70px;
	background:#f6f6f6;
	border:1px solid #ccc;
	width:130px;
}
#nav_sub dd ul a {
	color:#000066;
	line-height:30px;
	height:30px;
	display:block;
}
#nav_sub dd ul a:hover {
	background:#000;
	color:#fc0;
}
#nav_sub dd:hover ul, #nav_sub dd.over ul {
	display:block;
}
#nav_sub .dt {
	background:#dff4f9;
	height:30px;
	line-height:30px;
	display:block;
}
#siderbar {
	float:right;
	width:796px;
}
#siderbar p {
	text-indent:15px;
	border-bottom:1px dashed #ccc;
	line-height:20px;
}
/**footer开始**/
#footer {
	height:50px;
}
