#head
        #logo
          a(href='http://www.hbnu.edu.cn')
            img(src='images/index_01.gif', alt='湖北师范学院')
        #top_right
          #hushi
            p#dangzheng
              img(src='images/index_03.gif', alt='湖北师范党政办')
            #main_nav
              ul#nav
                li
                  a#a(href='index.php') 首页
                li
                  a#b(href='#') 两办概况
                  dl
                    dd
                      a(href='content_bmzz.php', target='_blank') 部门职责
                    dd
                      a(href='', target='_blank') 岗位设置
                    dd
                      a(href='lbkk_worker.php') 工作人员
                li
                  a#c(href='#') 新闻动态
                  dl
                    dd
                      a(href='') 部门新闻
                    dd
                      a(href='') 教育新闻
                    dd
                      a(href='') 教育观点
                li
                  a#d(href='#') 公共信息
                  dl
                    dd
                      a(href='') 通知公告
                    dd
                      a(href='') 每周会议
                    dd
                      a(href='') 办公指南
                    dd
                      a(href='') 规章制度
                li
                  a#e(href='#') 党政动态
                  dl
                    dd
                      a(href='') 领导言论
                    dd
                      a(href='') 政务公开
                li
                  a#f(href='wjxz.php') 文件下载
                li
                  a#g(href='#') 计生工作
          #xiaoxun
            p(style='padding-top:26px; text-align:center;')
              | 2016年08月31日          
              br
              |           星期三          
              br
              |           第 381 访客
          .clear
        .clear