#left_bar2
          table#sub_left(width='92%', height='180')
            tr
              td(height='47', colspan='2', align='center', style=' font-size:14px;') 新闻动态
            tr
              td(align='right', width='31%', height='25')
                img(src='images/arrow.gif', width='9', height='7')
              td(width='69%', style='padding-left:10px;')
                a(href='/posts?type=部门新闻') 部门新闻
            tr
              td(align='right', height='25')
                img(src='images/arrow.gif', width='9', height='7')
              td(style='padding-left:10px;')
                a(href='/posts?type=教育新闻') 教育新闻              
            tr
              td(align='right', height='25')
                img(src='images/arrow.gif', width='9', height='7')
              td(style='padding-left:10px;')
                a(href='/posts?type=教育观点') 教育观点                            
            tr
              td(align='right', height='25')
              td(style='padding-left:10px;')
          table(width='96%', height='145')
            tr
              td(width='47%', height='69')  
              td(width='53%')  
            tr
              td(height='23', align='right', valign='top')
                a(href='content_workguid.php?w_id=10', target='_blank') 用印管理
              td(align='center', valign='top', style=' padding-left:15px;')
                a(href='content_workguid.php?w_id=11', target='_blank') 会议安排
            tr
              td(height='26', align='right', valign='top')
                a(href='content_workguid.php?w_id=12', target='_blank') 请示报告
              td(align='center', valign='top', style=' padding-left:15px;')
                a(href='content_workguid.php?w_id=13', target='_blank') 校内发文
            tr
              td(align='right', valign='top')
                a(href='content_workguid.php?w_id=14', target='_blank') 文件传阅
              td  